
<% layout("/layouts/boilerplate.ejs") %>

<body>
    <!-- Hero Section -->
    <header id="hero">
        <div class="container front-section">
            <div class="row">
                <div class="col-12">
                    <h1>Share the Power, Harvest the Future.</h1>
                    <p class="lead">The digital marketplace for farmers to rent and share agricultural machinery. Save money, increase efficiency, and build a stronger community.</p>
                    <form method="get", action="/home/listings">
                        <button class="btn btn-primary btn-lg">
                            Browse Available Machinary
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>


</body>
